/* footer panel 1 */

.foot-panel1 {
    text-align: left;
    background-color: #eeeeee; 
    padding: 20px; 
    border-top: 1px solid #ddd; 
}

.panel1-head {
    color: rgb(86, 86, 86);
    margin-top: 14px;
    padding: 14px 0px;
    font-size: 16px;
    font-weight: bold;
}

.panel1-head a {
    color: #565656;
    text-decoration: none; 
}

.panel1-head a:hover {
    cursor: pointer;
}

.panel1-sub {
    margin: 8px 0px;
    line-height: 1.6;
    font-size: 0;
}

.panel1-sub-head {
    color: rgb(86, 86, 86);
    text-transform: uppercase;
    margin-right: 4px;
    font-size: 14px;
}

.panel1-item {
    cursor: pointer;
    text-decoration: none;
    color: rgb(86, 86, 86);
    padding: 0px 5px;
    border-right: 1px solid rgb(51, 51, 51);
    font-size: 12px;
}

.panel1-item:last-child {
    border-right: none;
}

/* footer panel 2 */

.foot-panel2 {
    padding: 20px;
    background-color: #eeeeee; 
}

.foot-panel2-container {
    line-height: 16px;
    font-size: 12px;
    color: #565656;
}

.foot-panel2-container h1 {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(86, 86, 86);
}

.foot-panel2-container h2 {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(86, 86, 86);
}

.foot-panel2-container strong {
    font-size: 14px;
}

.foot-panel2-container a {
    color: #2874f0;
    text-decoration: none;
}

/* footer container */

.footer-container {
    background-color: #111111;
}

/* footer top */

.footer-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px 60px 0px 60px;
    column-gap: 20px;
}

.ft-heading {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}

.ft-link {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
    cursor: pointer;
}

.ft-link:hover {
    text-decoration: underline;
}

.media {
    border-left: 1px solid #454d5e;
    padding-left: 32px;
}

.mailing-address {
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    align-items: center;
}

.app {
    margin-right: 16px;
}

.company p {
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.company a {
    text-decoration: none;
    color: #2874f0;
}

/* footer bottom */

.footer-bottom {
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-bottom-items {
    display: flex;
    align-items: center;
}

.footer-bottom-items a {
    text-decoration: none;
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
}

.footer-bottom-items a, .copyright {
    color: #fff;
}

.copyright {
    font-size: 12px;
}